[submodule "themes/awesome-identity"]
	path = themes/awesome-identity
	url = git@github.com:ryan-shah/hugo-awesome-identity.git
[submodule "public"]
	path = public
	url = git@github.com:ryan-shah/ryan-shah.github.io.git
	branch = master
